<div id="container-characters">
    <link rel="stylesheet" href="./front/css/characters.css">
    <div class="row block-one">
        <div class="col-sm-6">
            <img id="icon-characters" src="./front/img/icons/characters.png" />
            <label class="title">Characters</label>
        </div>
        <div class="col-sm-6">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sort By
                    <span class="fa fa-angle-down"></span>
                </button>
                <ul class="dropdown-menu">
                    <li id='sortbyname' class='sortbyoption'><a href="javascript:getCharacters('name');javascript:sortBy('name');">A-Z</a></li>
                    <li class="divider"></li>
                    <li id='sortby-name' class='sortbyoption'><a href="javascript:getCharacters('-name');javascript:sortBy('-name');">Z-A</a></li>
                    <li class="divider"></li>
                    <li id='sortbymodified' class='sortbyoption'><a href="javascript:getCharacters('modified');javascript:sortBy('modified');">First Modified</a></li>
                    <li class="divider"></li>
                    <li id='sortby-modified' class='sortbyoption'><a href="javascript:getCharacters('-modified');javascript:sortBy('-modified');">Latest Modified</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row block-two" id="block-characters">
        
    </div>
</div>