<div id="container-characters">
    <link rel="stylesheet" href="./front/css/characters.css">
    <div class="row block-one">
        <div class="col-sm-6">
            <img id="icon-characters" src="./front/img/icons/characters.png" />
            <label>Characters</label>
        </div>
        <div class="col-sm-6">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="disabled"><a href="#">HTML</a></li>
                    <li class="divider"></li>
                    <li><a href="#">CSS</a></li>
                    <li class="active"><a href="#">JavaScript</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>